{erl_opts, [debug_info]}.
{plugins, [
    {rebar_mix, {git, "https://github.com/Supersonido/rebar_mix.git", {branch, "master"}}}
]}.

{deps, [{decimal, "2.0.0"}, {jason, "1.2.2"}]}.

{provider_hooks, [
  {pre,  [{compile, {mix, find_elixir_libs}}]},
  {post, [{compile, {mix, consolidate_protocols}}]}
]}.